@font-face {
  font-family: 'fangzhengxiangsu';
  src: url('./font/fangzhengxiangsu.TTF') format('woff');
  /* Add additional formats if needed */
}


body {
  margin: 0;
  font-family: 'fangzhengxiangsu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'fangzhengxiangsu', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
